:root {
    --index: calc(1vw + 1vh);
    --text: #b608a7;
    --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

body {
    background-color: #010101;
    line-height: 1.55;
}

.main-header {
    position: relative;
}
.main-header::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 3;
    transition: var(--transition);
}
.layers__base {
    height: 110%;
    width: 110%;
    transform: translate(
        calc(var(--positionX) * 30),
        calc(var(--positionY) * 30)
    );
    z-index: 1;
}
.layers__middle {
    z-index: 2;
    height: 110%;
    width: 110%;
    transform: translate(
        calc(var(--positionX) * 30),
        calc(var(--positionY) * 30)
    );
}
.layers__front {
    z-index: 4;
    height: 110%;
    width: 110%;
    transform: translate(
        calc(var(--positionX) * 30),
        calc(var(--positionY) * 30)
    );
}
.layer__header {
    position: absolute;
    z-index: 2;
    transform: translate(
        calc(var(--positionX) * 30),
        calc(var(--positionX) * 30)
    );
    top: 25%;
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: #32eef0;
    text-shadow: 0 0 15px #112a6c;
}
.layers__title {
    font-size: calc(var(--index) * 1.5);
    letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
    margin-top: calc(var(--index) * -0.75);
}

.layer__header__two {
    position: absolute;
    z-index: 3;
    transform: translate(
        calc(var(--positionX) * 30),
        calc(var(--positionX) * 30)
    );
    top: 60%;
    left: 55%;
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: #32eef0;
    text-shadow: 0 0 15px #112a6c;
}
.layers__title__two {
    font-size: calc(var(--index) * 1.5);
    letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption__two {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
}
