* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box_logo {
    position: relative;
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_logo h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #ff00d4, 0 0 20px #ff00d4, 0 0 40px #ff00d4,
        0 0 80px #ff00d4, 0 0 120px #ff00d4;
}

.lightbar {
    position: absolute;
    top: 1.5;
    left: 0;
    width: 5px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px #ff00d4, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}

@keyframes animatelightbar {
    0%,
    5% {
        transform: scaleY(0) translateX(0);
    }
    10% {
        transform: scaleY(1) translateX(0);
    }
    90% {
        transform: scaleY(1) translateX(calc(180px - 10px));
    }
    95%,
    100% {
        transform: scaleY(0) translateX(calc(180px - 10px));
    }
}
