* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 100%;
    width: 100%;
    .logo_image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 300px;
        opacity: 1;
        background: url("../../public/logo/neon.png") no-repeat center / contain;
        animation: image-animation 0.1s linear infinite;
        .boxGlitch {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .glitch {
                top: 1px;
                font-size: 1.4rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 4px;
                line-height: 7rem;

                color: #fff;
                font-family: "assassin-st", sans-serif;

                position: relative;
                padding: 30px;
                &:before,
                &:after {
                    content: "OGTutor";
                    color: #fff;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    padding: 30px;
                }
                &:before {
                    left: 3px;
                    text-shadow: -3px 0 blue;
                    animation: glitch-before 2s linear 0s infinite
                        alternate-reverse;
                }
                &:after {
                    left: -3px;
                    text-shadow: -3px 0 red;
                    animation: glitch-after 2s linear 0s infinite
                        alternate-reverse;
                }
            }
        }
    }
}

@keyframes glitch-before {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i * (1/ $steps))} {
            clip: rect(random(150) + px, 350px, random(150) + px, 20px);
        }
    }
}

@keyframes glitch-after {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i * (1/ $steps))} {
            clip: rect(random(150) + px, 350px, random(150) + px, 20px);
        }
    }
}

@keyframes image-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
